bcrypt==3.1.7
blinker==1.4
certifi
cffi
Click==7.0
Flask==1.0.4
Flask-Admin==1.5.3
Flask-AppBuilder==4.1.3
Flask-Babel==0.12.2
Flask-Bcrypt==0.7.1
Flask-Caching==1.3.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.0
flask-swagger==0.2.13
Flask-WTF==0.14.2
fuzzywuzzy
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pandas
Pillow
pycparser==2.19
six
SQLAlchemy==1.3.0
Werkzeug==0.15.5
WTForms==2.2.1
webull
