{% extends "layout.html" %}
{% block content %}
    <h1>BigBeta</h1>
    <p>BigBeta is a data science company that is passionate about climbing. Our goal is to integrate tech into training in a simple way that helps you train smarter and climb harder</p>
    <p>We're implementing features as fast as we can to make this happen. In the meantime, feel free to submit feedback so we can prioritize the features we release next, and enjoy the convenience of quickly submitting climbs and easily viewing your progress.</p>
    <p>See you out there!</p>
    <p> - BigBeta Team</p>

{% endblock content %}
