{% extends "layout.html" %}
{% block content %}
    <head><meta http-equiv="refresh" content="300"></head>
    <h1>Watchlists</h1>
    <h5>Top Gainers for {{ run_time_display }} </h5>
    <a class="ml-2" href="{{ url_for('users.login') }}">PreMarket</a> <a class="ml-2" href="{{ url_for('users.register') }}">After Hours</a>

    <table id="data" class="table table-striped">
    <thead>
      <h5>Current Gainers
          <th>Ticker</th>
          <th>Name</th>
          <th>RVOL</th>
          <th>Avg Vol</th>
          <th>Free Float</th>
          <th>Short Interest</th>
          <th>Short Interest Raw</th>
          <th>Days to Cover</th>
          <th>Recent News Stories</th>
          <th>Grade</th>
          <th>Date Added</th>
      </h5>
    </thead>
    <tbody>
        {% for stock in watchlist %}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.rvol }}x</td>
                <td>{{ stock.display_avg_vol }}</td>
                <td>{{ stock.display_free_float }}</td>
                <td>{{ stock.display_short_interest }}</td>
                <td>{{ stock.display_si_raw }}</td>
                <td>{{ stock.dtc }}</td>
                <td>{{ stock.stories }}</td>
                <td>{{ stock.stock_grade}}/10</td>
                <td>{{ stock.date_added }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <p>&nbsp</p>

    {% if cuser_id > 0 %}
        <!-- FIND A SINGLE TICKER -->
        <h5>Use the searchbar to add to your own watchlist below</h5>
        <div class='content-section'>
            <form id="search_form" method="POST" action="">
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ search_form.tckr_input.label(class="form-control-label") }}

                        {% if search_form.tckr_input.errors %}
                            {{ search_form.tckr_input(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in search_form.tckr_input.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ search_form.tckr_input(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ search_form.submit(class="btn btn-outline-info")}}
                    </div>
                </fieldset>
                {{ search_form.hidden_tag() }}
            </form>
        </div>
    <!-- ------------------------------------------------------------- -->
    <!-- HERE BE THE TABLE -->
        <table id="data_search_ticker" class="table table-striped">
        <thead>
          <h5>Your Watchlist
            <th>Ticker</th>
            <th>Name</th>
            <th>RVOL</th>
            <th>Avg Vol</th>
            <th>Free Float</th>
            <th>Short Interest</th>
            <th>Short Interest Raw</th>
            <th>Days to Cover</th>
            <th>Recent News Stories</th>
            <th>Grade</th>
            <th>Date Added</th>
            <th>Delete</th>
          </h5>
        </thead>
        <tbody>
            {% for i in search_list %}
                <tr>
                    <td>{{ i.ticker }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.rvol }}x</td>
                    <td>{{ i.display_avg_vol }}</td>
                    <td>{{ i.display_free_float }}</td>
                    <td>{{ i.display_short_interest }}</td>
                    <td>{{ i.display_si_raw }}</td>
                    <td>{{ i.dtc }}</td>
                    <td>{{ i.stories }}</td>
                    <td>{{ i.stock_grade}}/10</td>
                    <td>{{ i.date_added }}</td>
                    <td><a class="btn btn-outline-info" href="{{ url_for('stocks.top_gainers_rm_from_watchlist_redirect', tckr=i.ticker) }}">Remove</a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <a class="ml-2" href="{{ url_for('users.login') }}">Login</a> or<a class="ml-2" href="{{ url_for('users.register') }}">Create an Account</a>
        <p>to create watchlists and get on our alerts list - We'll let you know when companies with great Short Interest, Float, and Days to Cover ratios start to move.</p>
        <p>&nbsp</p>
    {% endif %}

{% endblock content %}
