{% extends "layout.html" %}

{% block content %}
    <head><meta http-equiv="refresh" content="300"></head>
    <h1>Watchlists</h1>
    <h4>Ran for {{ run_time_display }} </h4>

    <table id="data" class="table table-striped">
    <thead>
      <tr>Today's Top Gainers
        <th>Ticker</th>
        <th>Name</th>
        <th>RVOL</th>
        <th>Free Float</th>
        <th>Short Interest</th>
        <th>Short Interest Raw</th>
        <th>Days to Cover</th>
        <th>Recent News Stories</th>
      </tr>
    </thead>
    <tbody>
        {% for stock in watchlist %}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.rvol }}</td>
                <td>{{ stock.free_float }}</td>
                <td>{{ stock.short_interest }}</td>
                <td>{{ stock.si_raw }}</td>
                <td>{{ stock.dtc }}</td>
                <td>{{ stock.stories }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>


{% endblock content %}
